<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SIJARTA - Platform Jasa & Layanan{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block extra_css %}{% endblock %}
</head>
<body class="flex flex-col min-h-screen">
    <header>
        {% include 'navbar.html' %}
    </header>
    
    <main class="flex-grow mt-4">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-gray-800 text-white py-4 text-center">
        <div>
            <span>&copy; 2024 SIJARTA. All rights reserved.</span>
        </div>
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>